<!-- Footer -->
<footer class="text-center text-lg-start text-dark" style="background-color: #ECEFF1">
  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mt-4 mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold">Mon Site</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
          <p>
            Je suis un artiste peintre
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-4 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold">Menu</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
          <p>
            <a href="{{ path('realisations')}}" class="text-dark text-decoration-none">Réalisations</a>
          </p>
          <p>
            <a href="{{ path('actualites')}}" class="text-dark text-decoration-none">Actualités</a>
          </p>
          <p>
            <a href="{{ path('portfolio')}}" class="text-dark text-decoration-none">Portfolio</a>
          </p>
          <p>
            <a href="{{ path('a_propos')}}" class="text-dark text-decoration-none">A propos</a>
          </p>
          <p>
            <a href="{{ path('contact')}}" class="text-dark text-decoration-none">Me contacter</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-4 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold">Informations</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
          <p>
            <a href="#!" class="text-dark text-decoration-none">Artiste peintre</a>
          </p>
          <p>
            <a href="#!" class="text-dark text-decoration-none">Je réalise mes peintures directement à l'aquarelle ou à l'atelier ou en
              pleine nature</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mt-4 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold">Mentions légales</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
          <p>
            <a href="#!" class="text-dark text-decoration-none">RGPD</a>
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2020 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->